/.idea/
/cmake-build-debug-mingw/SimpleMazeGame.exe
/cmake-build-debug-mingw/SimpleMazeGame.cbp
/cmake-build-debug-mingw/cmake_install.cmake
/cmake-build-debug-mingw/CMakeCache.txt
/cmake-build-debug-mingw/CMakeFiles/*